.container {
  width: 1090px;
  margin: 0 auto;
}

.fcontainer {
  width: 1190px;
  margin: 0 auto;
}

.innerDet {
  width: 1000px;
  margin: 0 auto;
}

.loginCon {
  width: 968px;
  margin: 0 auto;
}

input {
  outline: none;
}

button {
  border: 0 none;
}

.tabActive {
  font-size: 16px;
  color: #f00;
  font-weight: 800;
}
